.radio-button-style{
    margin-left: 12px;
}

.create-input-div-space{
    margin-top: 8px;
}

.space-engine-dropdown-tab{
    margin-left: 7px;
}

.checkbox-style{
    margin-left: 12px;
}

.display-error-message-style{

    color: red
}

.accordion-button, .accordion-body{
    background-color: rgba(135, 207, 235, 0);
}

.button-orange-style{
    background-color: #ff540a !important;
    
}