.text-and-button-div {

    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 8px;
}

.search-button {
    margin-left: 8px;
}

/* CSS for card when search posts by user email */
/* Unable to import CSS twice in MyPosts */


.row>* {


    padding: 12px !important;
    background-color: white !important;
    border: none !important;
    display: flex;
}

.card-body {
    background-color: rgb(112, 121, 140) !important;
}


.card-img,
.card-img-top {

    /* gives the image a rounded border */
    /* border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius); */

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#card_div_center_edit_margin_media{

    margin-left: 45px
}


@media only screen and (max-width: 770px) {
    #card_div_center_edit_margin_media{

        margin-left: 0px
    }
    
  }

.display-error-message {
    color: red
}


