.comment-box-div {

    position: relative;
    
}

.button-height {
    height: 15px;
    position: absolute;
    top: -8px;
    right: -8px
}

.comment-close-button {
    
    position: absolute;
    top: 0px;
    right: 0px
}

.icon-div{
    margin: 0px
}

.commentor-email-div-style{
    background-color: rgba(128, 128, 128, 0.361);
}

.delete-comment-button{
    background-color: #ff540a;
    border: none 
}