.create-input-div-space {

    margin-top: 8px;
}


.display-error-message-style{

    color: red
}

.button-orange-style{

    background-color: #ff540a !important;
}

.car-card-style {
    width: 98%;
    
}

.radio-label-style{

    margin-left: 5px;
}