/* .car-card-style{
margin-right: 3px;



} */



.row>*{

    
    padding: 12px !important;
    background-color: skyblue !important;
    border: none !important;
}

.card-body{
    background-color: rgb(112, 121, 140) !important;
}


.card-img, .card-img-top{

    /* gives the image a rounded border */
    /* border-top-left-radius: var(--bs-card-inner-border-radius);
    border-top-right-radius: var(--bs-card-inner-border-radius); */

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}