/* 
.outer-comment-div{
display: inline;
justify-content: center;
align-items: space-around

} */

.add-comment-div {
    width: 80%;
    background-color: lightblue;
    padding-left: 5px;
    padding-right: 5px;
}

.button-style{

    background-color: #ff540a !important;
}

.button-back-page-style{

    background-color: #ff540a !important;
}


.button-detailed-orange-style{
    background-color: #ff540a !important;

}